@import "modal";
@import "personal";
@import "header";
@import "education";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  max-width: 100%;
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
  }

  h2 {
    padding-left: 20px;
  }

  .card {
    position: relative;
    padding: 10px 20px;
    .crud {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .card:hover {
    .crud {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0.5);

      .crud-buttons {
        display: flex;
        column-gap: 8px;
      }
    }
  }
}

input {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  section {
    width: 100%;
  }
}
